.upload-content {
  font-size: 14px;
  color: #666;
  cursor: pointer;
}

.license-uploader {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 88px;
  border:1px solid #eee;
}

.upload-text {
  display:inline-block;
  margin-left: 20px;
}
