.student-interested {
  /* height: 48%; */
  background-color: white;
}

.header-wrapper{
  padding: 19px 0 24px 0;
  border-bottom: 1px solid #eeeeee;
}

.student-cards {
  /* padding: 40px; */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.student-card-wrapper {
  width: 44.1%;
  margin: 20px 15px;
}
