.student-interested {
  /* min-height: 48.5%; */
  margin-top: 20px;
  background-color: white;
}

.header-wrapper{
  padding: 19px 0 24px 0;
  border-bottom: 1px solid #eeeeee;
}

.student-cards {
  padding: 10px;
}
