.friend-item {
  width: 120px;
  height: 125px;
  font-size: 14px;
  text-align: center;
}

.avatar {
  margin-top: 18px;
  width: 80px;
  height: 80px;
}

.name {
  display: inline-block;
  margin-top: 12px;
  color: #666666;
}
