.wrapper {
  padding: 30px;
  border-bottom: 1px solid #f0f0f0;
  display: flex;
  background-color: white;
  justify-content: space-between;
}

.left {}

.ip-title {
  font-size: 22px;
  color: #333;
}

.ip-info {
  padding-top: 27px;
  font-size: 14px;
  color: #8f9ba7;
}

.info-margin {
  margin: 0 27px;
}

.info-margin-last {
  margin-right: 27px;
}

.right {}

.release-date {
  font-size: 14px;
  color: #8f9ba7;
  margin-bottom: 20px;
}

.inquire-price {
  font-size: 14px;
  background-color: #2299d1;
  padding: 5px 10px 5px 8px;
  border-radius: 4px;
  color: #fff;
  margin-left: 20px;
}
