.content {
  margin-top: 19px;
}

.content .gender {
  display: flex;
  width: 100%;
}

.content .gender-radio {
  padding: 15px 0 15px 0;
  flex-grow: 1;
  border-radius: 4px;
  border: 1px solid #eee;
  text-align: center;
}

.content .gender-radio:last-child {
  margin-right: 0px;
}

.content .qq {
  margin-top: 26px;
}

.icon{
  width:7px;
}

.upload-tch-photo-text{
  width: 582px;
  font-size: 14px;
  text-align: center;
  color: #aaa;
}
