.root {
  display: flex;
  align-items: center;
  padding: 25px 0;
  border-bottom: 1px dashed #eeee;
}
.avatar {
  width: 60px;
  height: 60px;
}

.news-info {
  margin-left: 40px;
  font-size: 16px;
  color: #aaa;
}

.time {
  margin-left: 30px;
}

.content {
  margin-top: 10px;
  color: #3091e6;
}
