.base-info{
}

.content {
  display: flex;
  justify-content: center;
  margin-top: 19px;
}

.baseInfo-form {
  width: 100%;
}

.sex {
  display: flex;
  width: 100%;
}

.sex-radio {
  padding: 15px 0 15px 0;
  flex-grow: 1;
  border-radius: 4px;
  border: 1px solid #eee;
  text-align: center;
}

.photo {
  border:1px solid #eee;
  height: 267px;
}

.qq {
  margin-top: 19px;
}
