.content-wrapper{
  background-color: white;
  font-weight: 600;
}
.title{
  padding: 13px 30px 13px 30px;
  background-color: #fdfcfc;
  border-bottom:1px solid #ddd;
}
.title-text{
  font-size: 14px;
  color: #aaa;
}
.text-head{
  text-align: center;
  padding: 20px 0px;
}
.explanation{
  text-indent: 30px;
  padding: 0px 40px 20px 40px;
}
.transfer-info{
  padding-bottom: 50px;
}
li{
  list-style-type:none;
  padding: 4px 0px;
}
