.content-wrapper{
  background-color: white;
  font-weight: 600;
}
.title{
  padding: 13px 30px 13px 30px;
  background-color: #fdfcfc;
  border-bottom:1px solid #ddd;
}
.title-text{
  font-size: 14px;
  color: #aaa;
}
.text-head{
  text-align: center;
  padding: 20px 0px;
}
.explanation{
  text-indent: 30px;
  padding: 0px 40px 20px 40px;
}

.partyb {
  margin-left: 30px;
  padding-bottom: 30px;
}

.info-title {
  margin-bottom: 30px;
  padding-left: 23px;
  border-left: 6px solid #3091e6;
}

.partyb-info {
  display: flex;
  align-items: center;
}

.partyb-avatar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.education {
  margin-left: 30px;
}

