.education-item {
  /* width: 760px; */
  height: 80px;
  line-height: 35px;
  margin: 0 20px;
  border-bottom: 1px dashed #f0f0f0;
}

.education-item:last-child {
  border: none;
}

.edu-university {
  font-size: 16px;
}

.edu-degree {
  font-size: 14px;
  color: #a9b2bb;
}

.edu-major {
  font-size: 14px;
  display: block;
  color: #aaaaaa;
}

.edu-duration {
  float: right;
  font-size: 14px;
  line-height: 60px;
  color: #aaaaaa;
}

