.container {
  width: 100%;
  padding-left: 40px;
  padding-bottom: 40px;
  padding-top: 40px;
  background-color: #fff;
}

.title {
  margin-left: 39px;
  padding-right: 10px;
  font-size: 16px;
  color: #666;
  text-align: left;
}

.introduce {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  margin: 86px auto 0 auto;
  padding-top: 39px;
  font-size: 16px;
  color: #666;
  background-color: #f0f0f0;
}

.toast{
  font-size: 16px;
  color: #8f9ba7;
}

.photo{
  margin-top: 37px;
  width: 80px;
}

.name{
  margin-top: 14px;
  font-size: 22px;
  color: #333;
}

.profession{
  margin-top: 11px;
  margin-bottom: 72px;
  font-size: 14px;
  color: #666;
}

.button-operation{
  display: flex;
  justify-content: center;
  margin-top: 136px;
  padding-left: 280px;
  padding-right: 280px;
}

.no-button{
  margin-right: 20px;
  width: 160px;
  padding: 14px 0;
  /* height: 44px; */
  border-radius: 4px;
  background-color: #8f9ba7;
  color: #fff;
  font-size: 16px;
}

.next-button{
  width: 160px;
  padding: 14px 0;
  /* height: 44px; */
  background-color: #3a96e7;
  border-radius: 4px;
  font-size: 16px;
  color: #ffffff;
}
