.award-items {
  width: 660px;
  height: 80px;
  line-height: 35px;
  margin: 0 20px;
  border-bottom: 1px dashed #f0f0f0;
}

.award-items:last-child {
  border: none;
}

.award-name {
  font-size: 16px;
}

.award-category {
  font-size: 14px;
  display: block;
  color: #c9c9c9;
}

.award-time {
  float: right;
  font-size: 14px;
  line-height: 60px;
  color: #c9c9c9
}
