.ip-name{
  font-size: 22px;
  color: #333;
}

.ip-name-container{
  position: relative;
}
.ip-type{
  position: absolute;
  bottom: 3px;
  right: 5px;
  padding: 2px 6px 2px 6px;
  background-color: #f0f0f0;
  font-size: 14px;
  color: #666;
}

.ul-container{
  position: relative;
  margin-top:7px;
}

.li-text{
  font-size: 14px;
  margin-top: 10px;
  color: #666;
}

.ip-info{
  margin-top: 19px;
}

.ip-info-text{
  font-size: 14px;
  color: #aaa;
  margin-right: 19px;

}
.edit-text{
  position: absolute;
  bottom: 0;
  right: 0;
  color: #8f9ba7;
  font-size: 14px;
  text-decoration: underline;
}
