.award{
  margin-bottom: 60px;
}

.award:last-child {
  margin-bottom: 0;
}

.award-name-container{
  position: relative;
}

.award-name{
  font-size: 22px;
  color: #333;
}

.edit-icon{
  position: absolute;
  bottom: 2px;
  right: 53px;
}
.edit-text{
  position: absolute;
  bottom: 0;
  right: 17px;
  padding-left: 0px;
  color: #8f9ba7;
  font-size: 14px;
  text-decoration: underline;
}

.award-info{
  margin-top: 19px;
}

.award-info-text{
  font-size: 14px;
  color: #aaa;
  margin-right: 19px;

}

.award-description{
  margin-top: 10px;
  color: #666;
  font-size: 14px;
  line-height: 1.857;
}
