.enterprice-item{
  width: 330px;
  height: 50px;
  font-size: 14px;
  line-height: 50px;
  margin: 0 20px;
  border-bottom: 1px solid #f0f0f0;
}
.photo{
  width:30px;
  height:30px;
}

.name{
  margin-left: 30px;
  color: #666;
}

.type{
  float: right;
  color: #8f9ba7;
}
