.title{
  padding: 13px 30px 13px 30px;
  background-color: #fdfcfc;
  border-bottom:1px solid #ddd;
}

.content {
  padding: 40px 30px;
  background-color: #fff;
}

.time {
  margin-bottom: 20px;
  padding: 0 40px;
}

.timeItem {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 16px;
}

.operation {
  text-align: center;
}

.operationMsg {
  font-weight: bold;
  font-size: 18px;
}

.confirmBtn {
  margin-right: 10px;
}
