.root {
  width: 100%;
  background-color: #fff;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  border-bottom: 1px solid #eee;
  font-size: 14px;
  color: #8f9ba7;
}

.title-tags {
  display: inline-block;
  margin-right: 20px;
  padding: 20px 0;
  cursor: pointer;
}

.content {
  position: relative;
  padding: 0 60px 40px 60px;
}

.tags {
  cursor: pointer;
}

.news-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0;
  border-bottom: 1px dashed #eeee;
}
