.news-item {
  width: 100%;
}

.publisher {
  height: 32px;
  font-size: 14px;
  color: #8f9ba7;
}

.touxiang {
  display: inline-block;
  width: 37px;
  height: 37px;
}

.name, .company {
  display: inline-block;
  vertical-align: top;
}

.name {
  margin: 0 13px 0 10px;
  color: #1b7ee9;
}

.time {
  float: right;
}

.content {
  height: 34px;
  margin-left: 45px;
  font-size: 16px;
  line-height: 34px;
}

.bot {
  position: absolute;
  width: 0;
  height: 0;
  border: 10px solid;
  border-color: #f0f0f0 transparent transparent;
}

.text {
  margin-left: 5px;
  min-width: 14px;
  max-width: 306px;
  background-color: #f0f0f0;
  padding: 6px 18px;
  border-radius: 5px;
}
