.school-name-container{
  margin-top: 10px;
}

.school-name{
  font-size: 22px;
  color: #333;
}
.time-text{
  float: right;
  font-size: 14px;
  color: #aaa;
}

.degree-text{
  font-size: 14px;
  color: #aaa;
  margin-top: 10px;
}

.major-text{
  font-size: 14px;
  color: #aaa;
}

.edit-container{
  position: relative;
}

.edit-incon{
  position: absolute;
  bottom: 1px;
  right: 36px;
}
.edit-text{
  position: absolute;
  bottom: -1px;
  right: 0;
  color: #8f9ba7;
  font-size: 14px;
  padding-left: 2px;
  text-decoration: underline;
}
