.detail-title {
  font-size: 14px;
  color: #aaa;
  background-color: #fdfcfc;
  border-bottom:1px solid #ddd;
}

.detail-title span {
  display: inline-block;
  width: 100%;
  padding: 13px 0 13px 30px;
}

.content {
  background-color: #fff;
  padding: 40px 30px;
}

.basic-info-content {
  margin: 21px 0 48px 28px;
  border-bottom: 1px dotted #f0f0f0;
}

.title {
  font-size: 14px;
}

.title span {
  padding-left: 23px;
  border-left: 6px solid #3091e6;
}

.ip-title {
  font-size: 22px;
  color: #666;
}

.ip-content-items {
  margin-top: 33px;
}

.item-title {
  font-size: 14px;
  color: #8f9ba7;
  margin-bottom: 12px;
}

.item-detail {
  font-size: 16px;
  color: #666;
}

.progress{
  margin: 60px 30px 20px 0;
}
