.root {
  background-color: #fff;
}

.title {
  padding: 13px 30px 13px 30px;
  border-bottom:1px solid #ddd;
  background-color: #fdfcfc;
  color: #aaa;
}

.content {
  padding: 40px 30px;
  background-color: #fff;
}
