.title {
  color: #aaa;
  padding: 13px 30px 13px 30px;
  background-color: #fdfcfc;
  border-bottom:1px solid #ddd;
}

.content {
  padding: 60px 30px;
  background-color: #fff;
}

.message {
  text-align: center;
  font-size: 22px;
}

.partyb {
  margin-top: 60px;
}

.info-title {
  padding-left: 23px;
  border-left: 6px solid #3091e6;
  margin-bottom: 30px;
}

.partyb-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 200px;
}

.partyb-avatar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
