.root {
  display: flex;
  padding: 5px 0px 5px 0px;
  justify-content: space-between;
  align-items: center;
  border-bottom:1px solid #ddd;
}

.base {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name {
  margin-left: 20px;
  font-size: 16px;
  color: #666;
}

.send-time {
  color: #8f9ba7;
  font-size: 14px;
}
