.info-teacher {
  height: 360px;
  margin-top: 30px;
  background-color: #efeef0;
  display: flex;
  justify-content: center;
}

.read {
  font-size: 20px;
  color: #8f9ba7;
  position: relative;
  left: -250px;
  top: 30px;
}

.read-number {
  font-size: 14px;
  position: absolute;
  top: 3px;
  left: 22px;
}

.info-list {
  display: flex;
  position: absolute;
  flex-direction: column;
  text-align: center;
  color: #666666;
}

.photo {
  width: 120px;
  height: 120px;
  margin-left: 100px;
  margin-top: 40px;
}

.name {
  font-size: 22px;
  line-height: 50px;
}

.details {
  font-size: 14px;
  line-height: 24px;
}

.contact {
  line-height: 30px;
  color: #cccccc;
  display: inline-block;
}

.contact span{
  color: #96a1ad;
}

.contact-icon{
  margin: 0 5px 0 10px;
}

.add {
  position: relative;
  left: 250px;
  top: 20px;
}
