.experience-item {
  width: 660px;
  height: 160px;
  line-height: 35px;
  margin: 0 20px;
  border-bottom: 1px dashed #f0f0f0;
}

.experience-item:last-child {
  border: none;
}

.name {
  font-size: 16px;
}

.category {
  font-size: 14px;
  display: block;
  color: #c9c9c9;
}

.duration {
  float: right;
  font-size: 14px;
  line-height: 60px;
  color: #c9c9c9
}

