.research-item{
  margin-bottom: 60px;
  padding-right: 17px;
}

.research-item:last-child {
  margin-bottom: 0;
}

.research-name{
  font-size: 22px;
  color: #333;
}
.time-text{
  float: right;
  font-size: 14px;
  color: #aaa;
  padding-right: 6px;
}

.ul-container{
  position: relative;
  margin-top:7px;
}

.li-text{
  font-size: 14px;
  margin-top: 10px;
  color: #666;
}
.edit-container{
  position: relative;
}

.edit-incon{
  position: absolute;
  bottom: 1px;
  right: 36px;
}
.edit-text{
  position: absolute;
  bottom: -1px;
  right: 0;
  color: #8f9ba7;
  font-size: 14px;
  padding-left: 2px;
  text-decoration: underline;
}
