
.dot {
  display: inline-block;
  width: 20px;
  height: 6px;
  margin: 0 2px;
  background-color: #ccc;
  cursor: pointer;
}

.dot:hover {
  /* background-color: #3091e6; */
}

.dot-active {
  background: #3091e6;
}

.dot-container {
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 120px;
  z-index: 1;
}
