.news {
  width: 392px;
  height: 652px;
  /* margin-left: 10px; */
  background-color: #fff;
}

.news-header-wrapper {
  width: 100%;
  height: 71px;
  border-bottom: 1px solid #f0f0f0;
  display: flex;
  align-items: center;
}

.news-item-wrapper {
  margin: 13px 20px 0 15px;
  width: 357px;
  height: 92px;
  display: flex;
  align-items: center;
  border-bottom: 1px dashed #f0f0f0;
}
